.options {
    position: relative;
    border: 1px solid var(--border-grey);
    border-radius: 10px;
  &__tick-box {
    padding: 36px;
    margin: 0;
    background-color: var(--sea);
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  &__tick {
    width: 88px;
  }
  &__descr {
    margin-left: 55px;
    display: flex;
    align-items: center;
    font-size: 32px;
    max-width: 73%;
  }
}
